/* *
{
    box-sizing:border-box;

} */
body
{
    /* font-family: "Flame", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; */
   
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: rgb(243, 214, 177);
}

.header-top
{
    display: flex;
    width: 100%;
    height: 78px;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    
}
#menu-button:hover
{
    color: red;
    cursor: pointer;

}
.select:hover
{
    color: red;
    font-weight: bold;
}
.top-signup
{
    background-color: red;
    color: black;
    border-radius: 15px;
    width: 70px;
}
.top-signup:hover
{
    background-color: rgb(51, 0, 255);
    color: white;
    cursor: pointer;

}

ul
{
    
}
.top-left-list
{
   
align-items: center;
padding-left: 10px;
}
.top-right-list li
{
    align-items: center; 
   
}
li
{
    font-family:Arial, Helvetica, sans-serif;
    float: left;
    list-style: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
   
}
li:hover
{
    cursor: pointer;
    color: red;
    font-weight: bold;
}
select
{
    background-color: antiquewhite;
    border-style: none;
    font-size: 18px;
}
/* header-logo
{
    display: inline-block;
    height: 12px;
    width: 18px;
} */
.header-logo-pos
{
    padding-left: 55px;
}

right-header
{
    
   
}
.first-block
{
    display: flex;
   
    
    margin-top: 120px;
    margin-left: 175px;
    margin-bottom: 30px;
    /* margin-right: 0%; */
    
    /* width: 100%;
    height: 100%; */

    
}
/* .main-card-block
{
    margin-left: 30px;
} */
.second-block
{
    display: flex;
    
    margin-left: 175px;
    /* margin-right: 0%; */
     /* width: 100%;
    height: 100%; */

}
.first-card
{
    float:left;
    margin-right: 40px;
    width: 560px;
    height: 420px;
    background-color: white;
    border-radius: 25px;

}
.image-size
{
    width: 560px;
    height: 280px;
    object-fit: cover;
    
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
}
.image-size:hover
{
    cursor: pointer;
}
.image-footer
{
    height: 180px;
    width: 100%;
}
.description-footer
{
    display: inline-block;
height: 100%;
width: 70%;
}
p{
   
    display: inline;
}
p
{
    margin-top: 1px;
    margin-left: 20px;
    font-size: 14px;
    display: inline;
}
/* .para-br
{
    margin-left: 20px;
} */
span
{
    margin-left: 20px;
}
h3
{
    margin-left: 10px;
}
.img-btn1
{
    /* display: inline-block; */
    padding-bottom: 60px;
    padding-right: 30px;
    margin-left: 400px;
    width: 90px;
    height: 35px; 
}
.bh{
    padding-bottom: 3em;
}
.sec-card
{
    width: 560px;
    height: 420px;
    background-color: white;
    border-radius: 25px;
}

.second-block
{
    
}

/* .bottom-1
{
    width: 100%;
    height: 110px;
    
} */
.img-btn
{
    /* position: absolute; */
    margin-left: 390px;
    /* padding-bottom: 900px */
    
    
}
.span-btn
{
    color: red;
}
.btn
{
    width: 150px;
    height: 40px;
    border-radius: 10px;  
     
}
.btn:hover{
    cursor: pointer;
    color: red;
    font-weight: bold;
    background-color: rgb(234, 165, 165);
    transition: .25s;
}
.img-btn3
{
    position: absolute;
    margin-left: 390px;
    /* padding-bottom: 900px; */
    padding-top: 10px;
}
.btn3
{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: 115px;
}
.btn3:hover
{
    cursor: pointer;
    font-weight: bolder;
    background-color: rgb(234, 165, 165);
    transition: .25s;
}
/* .the-last
{
width: 100%;
height: 250px;
background-color: rgb(84, 39, 222);

} */
.last-bottom
{
    padding-top: 300px;
    /* padding-top: 250px; */
    display: flex;
    height: 640px;
    width: 100%;
    background-color: rgb(243, 214, 177);
}
.left-last-bottom
{
    display: flex;
    width: 1000px;
    height: 100%px;
    background-color:rgb(226, 183, 126);
}
.last-bottom-img-left
{
    width: 600px;
height: 100%;
}

.right-last-bottom
{
    flex: 1;
    height: 100%;
    background-color:rgb(226, 183, 126);
}
.image-right-block
{
    
    
}
/* .image-left
{
width: 600px;
height: 100%;
} */
.mobile-img
{
    /* display: flex; */
    height: 100%;
    padding-bottom: 60px;
    margin-top: -150px;
}
/* .image-block
{
    flex: 1;
    float: right;
    height: 100%;
} */


/* footer-1
{
    /* padding-top: 80px; */
    /* padding-left: 180px; */
/* } */ 
.bottom-right-inner-block
{
    width: 90%;
    height: 60%;
   margin-top: 120px;
   background-color:rgb(226, 183, 126);


}
.dollar-head
{
    color: rgb(46, 4, 4);
    font-size: 60px;
    font-weight: bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.play-icon
{
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color:rgb(226, 183, 126);
}
.apple-image
{
    margin-left: 20px;
    width: 20%;
    height: 100%;
    object-fit: fit;
}
.apple-image:hover
{
    cursor: pointer;
    
}
.playstore-image:hover
{
    cursor: pointer;
}
.playstore-image
{
    background-color: black;
    border-radius: 8px;
}
/*.play-store-image
{
 margin-left: 20px;
 width:20px;
 height: 30px;
 object-fit: fit;
}*/
.footer-layouts
{
    padding-top: 60px;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(27, 2, 2);
}



table
{
    margin-left: 60px;
    align-items:flex-start;
    row-gap: 20px;  
    /* border-spacing: 8px; */
    
}

td
{
    /* font-size: 100px; */
    color: white;
    text-align: left;
    width: 300px;
    padding-bottom: 20px;
}
td:hover
{
    cursor: pointer;
    text-decoration: underline;
}
 th
{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-align: left;
    align-content: flex-start; 
    padding-bottom: 20px;   
}

.last-sec
{
    display: block;
}

.last-footer
{
    
    height: 90px;
    width: 100%;
    background-color: rgb(27, 2, 2);
   
}


.bottom-footer
{
    width: 100%;
    height: 180px;
    background-color: rgb(27, 2, 2);
}
.hr 
{
    margin-top: 0%;
    
}
.logo-footer
{
    height: 30px;
    background-color: white;
}
.logo 
{
    color: white;
}